# IS 4487 Module 2 Script

## Agenda

- Loading installed packages
- Inspect data
- Explore plot types 

Make sure you have downloaded tonight's script and data from Canvas.

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

We can pull sample data from 
- statsmodels.api

In [1]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/Twitter_dataset.csv', encoding = 'latin1')

print (df)

In [7]:
#look at the top rows
df.head(1)

,Unnamed: 0,_id,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,...,matching_rules,retweeted_status,extended_tweet,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,scopes
0,0,6020fc7e9e1aa8e3e7ad0832,Mon Feb 08 04:29:58 +0000 2021,1.358630e+18,1358634152719839233,@Rebe_Charizard ?????????????????????m(*_ _)m,"[16, 45]","<a href=""http://twitter.com/download/iphone"" r...",False,1.358630e+18,...,[{'tag': None}],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#look at last rows
df.tail(10)

In [ ]:
#get a summary of the dataset
df.describe()

In [6]:
#look at the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9756 entries, 0 to 9755
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 9756 non-null   int64
 1   _id                        9756 non-null   object
 2   created_at                 9756 non-null   object
 3   id                         9756 non-null   float64
 4   id_str                     9756 non-null   int64
 5   text                       9756 non-null   object
 6   display_text_range         3222 non-null   object
 7   source                     9747 non-null   object
 8   truncated                  9756 non-null   bool
 9   in_reply_to_status_id      2863 non-null   float64
 10  in_reply_to_status_id_str  2863 non-null   float64
 11  in_reply_to_user_id        2985 non-null   float64
 12  in_reply_to_user_id_str    2985 non-null   float64
 13  in_reply_to_screen_name    2985 non-null   object
 14  user                       9756 non-null   object
 15  geo                        3 non-null      object
 16  coordinates                3 non-null      object
 17  place                      140 non-null    object
 18  contributors               0 non-null      float64
 19  is_quote_status            9756 non-null   bool
 20  quote_count                9756 non-null   int64
 21  reply_count                9756 non-null   int64
 22  retweet_count              9756 non-null   int64
 23  favorite_count             9756 non-null   int64
 24  entities                   9756 non-null   object
 25  favorited                  9756 non-null   bool
 26  retweeted                  9756 non-null   bool
 27  filter_level               9756 non-null   object
 28  lang                       9756 non-null   object
 29  matching_rules             9756 non-null   object
 30  retweeted_status           4040 non-null   object
 31  extended_tweet             950 non-null    object
 32  extended_entities          590 non-null    object
 33  possibly_sensitive         1166 non-null   object
 34  quoted_status_id           240 non-null    float64
 35  quoted_status_id_str       240 non-null    float64
 36  quoted_status              238 non-null    object
 37  quoted_status_permalink    238 non-null    object
 38  scopes                     3 non-null      object
dtypes: bool(4), float64(8), int64(6), object(21)
memory usage: 2.6+ MB

In [8]:
df_clean = df

In [38]:
keep = ['text', 'source', 
        'in_reply_to_status_id', 'is_quote_status', 
        'quote_count', 'reply_count', 
        'retweet_count', 'favorite_count', 
        'favorited', 'retweeted']
        
df_clean1 = df_clean[keep]
df_clean1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9756 entries, 0 to 9755
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   text                   9756 non-null   object
 1   source                 9747 non-null   object
 2   in_reply_to_status_id  2863 non-null   float64
 3   is_quote_status        9756 non-null   bool
 4   quote_count            9756 non-null   int64
 5   reply_count            9756 non-null   int64
 6   retweet_count          9756 non-null   int64
 7   favorite_count         9756 non-null   int64
 8   favorited              9756 non-null   bool
 9   retweeted              9756 non-null   bool
dtypes: bool(3), float64(1), int64(4), object(2)
memory usage: 562.2+ KB

In [54]:
hasM = df_clean1["text"].str.contains("M")

df_clean1[hasM].head()

,text,source,in_reply_to_status_id,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,favorited,retweeted
1,"RT @iiiRatcha: ????????????????????""??????????...","<a href=""http://twitter.com/download/iphone"" r...",NaN,False,0,0,0,0,False,False
2,@kashDAI not you listening to cfm and m&amp;m ...,"<a href=""http://twitter.com/download/iphone"" r...",1.358630e+18,False,0,1,0,0,False,False
3,RT @_soniashenoy: M&amp;M says \nSsangyong dea...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,False,0,0,0,0,False,False
4,RT @mmschocolate: This year?s #SuperBowlLV com...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,False,0,0,0,0,False,False
5,RT @Tezhwa: ?????????????????????????????? ???...,"<a href=""http://twitter.com/download/android"" ...",NaN,False,0,0,0,0,False,False

In [43]:
key_words = [str('M&M'), "m&m", 'M & M', 'm & m','M and M','m and m']

prof = "M&amp;M?s"
profAlso = "m&amp;m"

df_mm_text = df_clean1[df_clean1['text'].str.contains(prof)]

df_mm_text.head()

,text,source,in_reply_to_status_id,is_quote_status,quote_count,reply_count,retweet_count,favorite_count,favorited,retweeted
707,RT @stats_feed: Each package of traditional mi...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,False,0,0,0,0,False,False
3515,M&amp;M Minis &gt; normal M&amp;Ms,"<a href=""http://twitter.com/download/iphone"" r...",NaN,False,0,0,0,0,False,False
4508,"Hey M&amp;M company, my name is Karen but I?m ...","<a href=""http://twitter.com/download/iphone"" r...",NaN,False,0,0,0,2,False,False
6226,RT @davechensky: Every time i watch an M&amp;M...,"<a href=""http://twitter.com/download/android"" ...",NaN,False,0,0,0,0,False,False
7108,RT @davechensky: Every time i watch an M&amp;M...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,False,0,0,0,0,False,False