# IS 4487 Module 2 Script

## Agenda

- Loading installed packages
- Inspect data
- Explore plot types 

Make sure you have downloaded tonight's script and data from Canvas.

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

We can pull sample data from 
- statsmodels.api

In [12]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')

print (df)

In [19]:
#look at the top rows
df.head(10)

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,$5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,$171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,$19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,$15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,$27.93,2019-06,June
5,351,Glenn Reville,3 Springview Drive,Dallas,TX,75277.0,1006,2020-02-18,351,1006,106,4.0,106,Great value Juice,$1.99,$7.96,2020-02,February
6,233,Cosette Berkowitz,7619 Susan Lane,South Bend,IN,46634.0,1007,2019-10-25,233,1007,105,2.0,105,Office Chair,$55.99,$111.98,2019-10,October
7,121,Nisse Cunniam,0 Dennis Pass,Lincoln,NE,68531.0,1008,2019-11-10,121,1008,101,1.0,101,Dell E5470 Laptop,$485.00,$485.00,2019-11,November
8,232,Yank Eayrs,8176 Lawn Drive,Washington,DC,20575.0,1009,2019-09-27,232,1009,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2019-09,September
9,113,Jamesy Brothwood,0693 Evergreen Pass,Scranton,PA,18514.0,1010,2019-09-02,113,1010,108,1.0,108,Printer,$59.99,$59.99,2019-09,September

In [ ]:
#look at last rows
df.tail(10)

In [42]:
#get a summary of the dataset
df_clean.describe().round(4)

,customer_id,postal_code,order_id,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_price,total_amount
count,9569.0000,9416.0000,9569.0000,9569.0000,9569.0000,9569.0000,9513.0000,9569.0000,9569.0000,9513.0000
mean,282.9110,52225.0071,5107.5395,282.9110,5107.5395,106.7366,3.4534,106.7366,289.2627,344.0839
std,199.7639,29619.5444,2043.4494,199.7639,2043.4494,3.6948,4.3939,3.6948,340.2841,373.5459
min,1.0000,1105.0000,1001.0000,1.0000,1001.0000,101.0000,1.0000,101.0000,1.9900,1.9900
25%,127.0000,27409.0000,3393.0000,127.0000,3393.0000,104.0000,1.0000,104.0000,4.9900,55.9900
50%,253.0000,48295.0000,5577.0000,253.0000,5577.0000,107.0000,1.0000,107.0000,59.9900,167.9700
75%,376.0000,79923.0000,6829.0000,376.0000,6829.0000,110.0000,4.0000,110.0000,485.0000,694.9700
max,800.0000,99812.0000,8147.0000,800.0000,8147.0000,114.0000,20.0000,114.0000,988.7200,1977.4400

In [ ]:
#look at the datatypes
df_clean = df
df_clean.info()

In [ ]:
#Convert the Total_Amount into a number (not a string)
#Remove rows with empty (NULL) values
#Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [ ]:
#Convert the Total_Amount into a number (not a string)
df_clean['total_amount'] = df_clean['total_amount'].str.replace('$', '')
df_clean['total_amount'] = df_clean['total_amount'].str.replace(',', '')
df_clean['total_amount'] = df_clean['total_amount'].astype(float)
df_clean['total_amount'].head()

In [41]:
df_clean['product_price'] = df_clean['product_price'].str.replace('$', '')
df_clean['product_price'] = df_clean['product_price'].str.replace(',', '')
df_clean['product_price'] = df_clean['product_price'].astype(float)
df_clean['product_price'].head()

<ipython-input-41-191c7dd7dc01>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_clean['product_price'] = df_clean['product_price'].str.replace('$', '')

0     1.99
1    85.98
2     3.99
3     1.99
4     3.99
Name: product_price, dtype: float64

In [ ]:
#Remove rows with empty (NULL) values
df_clean.dropna(subset = ['state_province','order_date', 'quantity', 'product_price', 'total_amount'])

In [43]:
#Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases. 
df_clean.groupby('state_province')['total_amount'].count()

state_province
AK                            39
AL                           166
AR                            22
AZ                           128
Alabama                       45
                            ...
WY                            16
Washington                    68
West Virginia                 22
Wisconsin                     26
Wyoming                        4
Name: total_amount, Length: 92, dtype: int64

## Clean up the data
Did you notice anything unusual about the "house" amounts? 

How about the handset price and income?

In [ ]:
df_clean = df[(df['house'] > 0) & (df['income'] > 0) & (df['handset_price'] < 1000)]
df_clean.describe()

# Add Derived Attribute

Add a column with the income in K (thousands)

In [ ]:
df_clean['income_k'] = (df_clean['income']/1000).round(2)
df_clean.head()

## Slice the data  
 What is average house price at the two levels of leave?

 Conclusion?  Stayers have substantially more expensive homes.

In [ ]:
df_clean[['house','leave']].groupby('leave').mean().round(2)